extends layout

block content
	.container
		h1 Translate Page

		form#translate-form(action="/translate" method="post")
			.form-group
				input.form-control(name="from" type="text" placeholder="Language of Origin")
			.form-group
				input.form-control(name="to" type="text" placeholder="Target Language")
			.form-group
				textarea.form-control(name="text" type='text' placeholder="Translation")
			.form-group
				input.btn.btn-default(type="submit")

block scripts
	script(src='/scripts/index.js')