doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled
		link(rel="stylesheet", href="/styles/main.css")


	body
		block content
			//- from http://code.jquery.com/
		script(src='http://code.jquery.com/jquery-2.1.1.min.js')

		block scripts
